/*
 * Poder Judicial del Estado de Coahuila de Zaragoza
 * Direccion de Informatica
 *
 * Hoja de Estilos CSS 2020-04 Claro
 * Versión septiembre 2020
 */

/* -----------
 * Tipografias
 * -----------
 */

body        { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.2rem; line-height: 2.0rem; }

h1          { font-family: 'Saira Condensed', sans-serif; font-weight: 700; font-size: 2.4rem; }
h2          { font-family: 'Saira Condensed', sans-serif; font-weight: 700; font-size: 2.0rem; }
h3          { font-family: 'Saira Condensed', sans-serif; font-weight: 700; font-size: 1.6rem; }
h4          { font-family: 'Saira', sans-serif; font-weight: 400; font-size: 1.4rem; }
h5          { font-family: 'Saira', sans-serif; font-weight: 400; font-size: 1.3rem; }
h6          { font-family: 'Saira', sans-serif; font-weight: 400; font-size: 1.2rem; }

p,
p.lead      { font-size: 1.2rem; }
blockquote  { font-size: 1.6rem; line-height: 2.4rem; font-style: italic; }
footer      { font-family: 'Saira', sans-serif; font-weight: 400; font-size: 1.0rem; line-height: 1.4rem; }
b,
strong      { font-weight: 700; }

header      { font-family: 'Lato', sans-serif; font-weight: 300; }
#navegacion { font-family: 'Saira', sans-serif; font-weight: 700; font-size: 1.0rem; line-height: 1.2rem; }

#novedades p { font-size: 0.9rem; line-height: 1.3rem; }

/* --------
 * Espacios
 * --------
 */

body                    { padding-top: 64px; /* Es la altura de Navegacion */ }
h1                      { margin-top: 1.0em; margin-bottom: 0.4em; }
h2                      { margin-top: 0.8em; margin-bottom: 0.4em; }
h3                      { margin-top: 0.6em; margin-bottom: 0.3em; }
h4                      { margin-top: 0.4em; margin-bottom: 0.3em; }
h5                      { margin-top: 0.2em; margin-bottom: 0.2em; }
h6                      { margin-top: 0.2em; margin-bottom: 0.2em; }
p                       { padding: 0.4em 0; }
blockquote              { padding: 1.2em; }
header                  { min-height: 100px; }
main                    { min-height: 800px; }
article                 { min-height: 800px; }

#destacados             { min-height: 400px; }
#en_construccion        { min-height: 120px; }
#recomendaciones        { min-height: 400px; }
#sitios_interes         { min-height: 200px; }

#transmisiones_sesiones    { min-height: 200px; }
#transmisiones_sesiones h3 { margin-top: 0.4em; margin-bottom: 0; }
#transmisiones_sesiones p  { margin-top: 0; margin-bottom: 0.4em; padding: 0; }

#novedades                 { min-height: 400px; }
#novedades h5              { margin-top: 0.6em; margin-bottom: 0.2em; }
#novedades p               { margin-top: 0.2em; margin-bottom: 0.6em; padding: 0; }

footer                  { min-height: 200px; }
footer ul li            { padding: 0.2em 0; }

/* -------
 * Colores
 * -------
 */

body                    { color: black; background-color: white; }
h1                      { color: #000000; }
h2                      { color: #31322c; }
h3                      { color: #004360; }
h4                      { color: #d0a473; }
h5                      { color: #004360; }
h6                      { color: #004360; }
a                       { color: #46576b; }
a:focus,
a:hover                 { color: #215796; }
a:active,
a:visited               { color: #46576b; }
header                  { background-color: #e3e1e4; }
#navegacion             { background-color: #46576b; border-bottom: 8px solid #f3edce; }
#cabecera               { background-color: #ffffff; }
#destacados             { background-color: #ffffff; }
.destacados-card        { background-color: #f7f3f2; }
#en_construccion        { background-color: #fff2b6; background-image: linear-gradient(#fff2b6, #fffced); }
#novedades              { background-color: #e3e1e4; }
#recomendaciones        { background-color: #ffffff; }
#sitios_interes         { background-color: #f7f3f2; }
#transmisiones_sesiones { background-color: #f7f3f2; }
footer                  { color: #ffffff; background-color: #46576b; }
footer h3               { color: #96a5b6; }
footer h4               { color: #96a5b6; }
footer h5               { color: #96a5b6; }
footer ul li            { color: #777777; }
footer a                { color: #dddddd; }
footer a:focus,
footer a:hover          { color: #ffffff; }
footer a:active,
footer a:visited        { color: #dddddd; }

/* ----------
 * Navegacion
 * ----------
 */

.navbar { padding: 0 0.2em; }
.dropdown-menu { margin-top: 0; }
.navbar .nav-item:not(:last-child) { margin-right: 1.2em; }
.dropdown-toggle::after { transition: transform 0.15s linear; }
.show.dropdown .dropdown-toggle::after { transform: translateY(3px); }

/* ----------
 * Responsivo
 * ----------
h1          { font-size: 2.4rem; }
h2          { font-size: 2.0rem; }
h3          { font-size: 1.6rem; }
h4          { font-size: 1.4rem; }
h5          { font-size: 1.3rem; }
h6          { font-size: 1.2rem; }
 */

@media only screen and (max-width: 990px) {
    h1           { font-size: 2.2em; margin-bottom: 0.3em; }
    h2           { font-size: 1.8em; margin-bottom: 0.3em; }
    h3           { font-size: 1.5em; margin-bottom: 0.2em; }
    h4           { font-size: 1.3em; margin-bottom: 0.2em; }
    h5           { font-size: 1.2em; margin-bottom: 0.1em; }
    h6           { font-size: 1.1em; margin-bottom: 0.1em; }
    h1.display-4 { font-size: 2.2em }
    blockquote   { font-size: 1.4em; padding: 0.4em; }
}

@media only screen and (max-width: 580px) {
    body         { font-size: 1.0em; line-height: 1.4rem; }
    h1           { font-size: 2.0em; margin-bottom: 0.3em; }
    h2           { font-size: 1.6em; margin-bottom: 0.3em; }
    h3           { font-size: 1.3em; margin-bottom: 0.2em; }
    h4           { font-size: 1.2em; margin-bottom: 0.2em; }
    h5           { font-size: 1.1em; margin-bottom: 0.1em; }
    h6           { font-size: 1.0em; margin-bottom: 0.1em; }
    h1.display-4 { font-size: 2.0em }
    p            { font-size: 1.1em; padding: 0.1em 0; }
    p.lead       { font-size: 1.1em; }
    blockquote   { font-size: 1.2em; padding: 0.4em; }
}

@media only screen and (max-width: 300px) {
    body         { font-size: 0.9em; }
    h1           { font-size: 1.8em; margin-bottom: 0.2em; }
    h2           { font-size: 1.5em; margin-bottom: 0.2em; }
    h3           { font-size: 1.3em; margin-bottom: 0.1em; }
    h4           { font-size: 1.2em; margin-bottom: 0.1em; }
    h5           { font-size: 1.1em; margin-bottom: 0.0em; }
    h6           { font-size: 1.0em; margin-bottom: 0.0em; }
    h1.display-4 { font-size: 1.8em }
    p            { font-size: 1.0em; padding: 0.1em 0; }
    p.lead       { font-size: 1.0em; }
    blockquote   { font-size: 1.1em; padding: 0.4em; }
}
