/*
 * Poder Judicial del Estado de Coahuila de Zaragoza
 * Direccion de Informatica
 *
 * Hoja de Estilos CSS 2020-04 Temporal
 */

/* -----------
 * Modo Oscuro
 * -----------
 */
@media (prefers-color-scheme: dark) {
    body             { color: white; background-color: #1e2227; }
    h1               { color: #ffffff; }
    h2               { color: #31322c; }
    h3               { color: #eeeeee; }
    h4               { color: #dddddd; }
    h5               { color: #dddddd; }
    h6               { color: #dddddd; }
    a                { color: #dddddd; }
    a:focus,
    a:hover          { color: #ffffff; }
    a:active,
    a:visited        { color: #dddddd; }
    header           { background-color: #1d1b1e; }
    #cabecera        { background-color: #222222; }
    #destacados      { background-color: #222222; }
    #novedades       { background-color: #444444; }
    #recomendaciones { background-color: #222222; }
    #sitios_interes  { background-color: #444444; }
    .destacados-card { background-color: #444444; }
}
@media (prefers-color-scheme: light) {
    body             { color: black; background-color: white; }
    h1               { color: #000000; }
    h2               { color: #31322c; }
    h3               { color: #004360; }
    h4               { color: #d0a473; }
    h5               { color: #004360; }
    h6               { color: #004360; }
    a                { color: #083755; }
    a:focus,
    a:hover          { color: #00568d; }
    a:active,
    a:visited        { color: #083755; }
    header           { background-color: #e3e1e4; }
    #cabecera        { background-color: #ffffff; }
    #destacados      { background-color: #ffffff; }
    #novedades       { background-color: #e3e1e4; }
    #recomendaciones { background-color: #ffffff; }
    #sitios_interes  { background-color: #f7f3f2; }
    .destacados-card { background-color: white; }
}

